__pycache__
.DS_Store
*.pyc
.env
.pytest_cache

allure-report/
allure-results/
output/
gen3-integration-tests/test_data/lock
gen3-integration-tests/test_data/configuration
gen3-integration-tests/test_data/graph_data
gen3-integration-tests/test_data/fence_client
gen3-integration-tests/test_data/google_creds
gen3-integration-tests/test_data/gen3_workflow/.nextflow/*
gen3-integration-tests/test_data/gen3_workflow/.nextflow.*
gen3-integration-tests/test_data/gen3_workflow/rc.txt
gen3-integration-tests/test_data/gen3_workflow/stdout.txt
gen3-integration-tests/test_data/gen3_workflow/stderr.txt

.vscode/*
