__pycache__
.DS_Store
.env
.pytest_cache
.vscode/
*.pyc
**/output/
**/node_modules/
allure-report/
allure-results/
worktrees/

gen3-integration-tests/test_data/lock
gen3-integration-tests/test_data/configuration/
gen3-integration-tests/test_data/graph_data/
gen3-integration-tests/test_data/fence_clients/
gen3-integration-tests/test_data/google_creds/
gen3-integration-tests/test_data/gen3_workflow/.nextflow/
gen3-integration-tests/test_data/gen3_workflow/.nextflow.*
gen3-integration-tests/test_data/gen3_workflow/rc.txt
gen3-integration-tests/test_data/gen3_workflow/stdout.txt
gen3-integration-tests/test_data/gen3_workflow/stderr.txt
gen3-integration-tests/test_data/gen3_workflow/work/

gen3-load-tests/load_testing_output/
gen3-load-tests/test_data/generated_metadata_service_template/
