# Uses the shared workflow from this repo for ease of maintenance
name: Integration Tests

on:
  pull_request:
    paths:
      - .github/workflows/integration_tests.yaml
      - .github/workflows/shared_integration_tests.yaml
      - gen3-integration-tests/**

permissions:
  id-token: write
  contents: read
  pull-requests: write
  issues: write

jobs:
  integration_tests:
    name: Integration tests
    uses: ./.github/workflows/shared_integration_tests.yaml
    with:
      HELM_BRANCH: feat/ci-fixes
    secrets:
      CI_AWS_ACCESS_KEY_ID: ${{ secrets.CI_AWS_ACCESS_KEY_ID }}
      CI_AWS_SECRET_ACCESS_KEY: ${{ secrets.CI_AWS_SECRET_ACCESS_KEY }}
      JENKINS_API_TOKEN: ${{ secrets.JENKINS_API_TOKEN }}
      QA_DASHBOARD_S3_PATH: ${{ secrets.QA_DASHBOARD_S3_PATH }}
      CI_TEST_ORCID_USERID: ${{ secrets.CI_TEST_ORCID_USERID }}
      CI_TEST_ORCID_PASSWORD: ${{ secrets.CI_TEST_ORCID_PASSWORD }}
      CI_TEST_RAS_USERID: ${{ secrets.CI_TEST_RAS_USERID }}
      CI_TEST_RAS_PASSWORD: ${{ secrets.CI_TEST_RAS_PASSWORD }}
      CI_TEST_RAS_2_USERID: ${{ secrets.CI_TEST_RAS_2_USERID }}
      CI_TEST_RAS_2_PASSWORD: ${{ secrets.CI_TEST_RAS_2_PASSWORD }}
      CI_SLACK_BOT_TOKEN: ${{ secrets.CI_SLACK_BOT_TOKEN }}
      CI_SLACK_CHANNEL_ID: ${{ secrets.CI_SLACK_CHANNEL_ID }}
